<nav class="navbar navbar-light">
  <a href="/admin" class="navbar-brand">Friendmin</a>
  <ul class="nav navbar-nav">
    <li class="nav-item" key={1}>
      <a class="nav-link" href="/admin/db">디비장난</a>
    </li>
    <li class="nav-item" key={2}>
      <a class="nav-link" href="/admin/analytics">통계</a>
    </li>
  </ul>
</nav>
