<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Friendrop Admin</title>
    <link rel="sytlesheet" type="text/css" href="/stylesheet/style.css"/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
</head>
<body>
    {{>navigation}}
    {{{body}}}

</body>
</html>
