<div class="container">
  <div class="jumbotron custom">
      <h2>드랍 보내기</h2>
    <form action="/admin/send-drop" method="post">
      <fieldset class="form-group">
        <label>누구를 대상으로?(email) </label>
        <input class="form-control" name="email" />
        {{message}}
      </fieldset>
      <fieldset class="form-group">
        <label>누구의 프로필을 보내는가? (email)</label>
        <input class="form-control" name="senderEmail" />
      </fieldset>
      <button type="submit" name="submit" class="btn btn-primary">드랍!</button>
    </form>
  </div>

    <div class="jumbotron custom">
        <h2>쪽지 보내기</h2>
        <form action="/admin/send-letter" method="post">
            <fieldset class="form-group">
                <label>누구를 대상으로?(email) </label>
                <input class="form-control" name="email" />
                {{message}}
            </fieldset>
            <fieldset class="form-group">
                <label>누가 보내는가? (email)</label>
                <input class="form-control" name="senderEmail" />
            </fieldset>
            <fieldset class="form-group">
                <label>쪽지 내용</label>
                <input class="form-control" name="content" />
            </fieldset>
            <button type="submit" name="submit" class="btn btn-primary">쪽지!</button>
        </form>
    </div>

    <div class="jumbotron custom">
        <h2>연락처 보내기</h2>
        <form action="/admin/send-contact" method="post">
            <fieldset class="form-group">
                <label>누구를 대상으로?(email) </label>
                <input class="form-control" name="email" />
                {{message}}
            </fieldset>
            <fieldset class="form-group">
                <label>누가 보내는가? (email)</label>
                <input class="form-control" name="senderEmail" />
            </fieldset>
            <button type="submit" name="submit" class="btn btn-primary">번호!</button>
        </form>
    </div>
</div>
