<div class="container">

  <!-- Main component for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2>Friendrop Admin Page : Friendmin</h2>
    <p>현재 회원에게 드랍 보내기 기능밖에 없음. 차차 추가 예정.</p>
    <p>구글 애널리틱스도 연동할 것.</p>

  </div>

</div> <!-- /container -->
